@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;500;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9F8F4;
  color: #183028;
  font-family: 'DM Sans', sans-serif;
}

/* Scrollbar Gizle */
::-webkit-scrollbar { display: none; }